.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.checkoutProduct-image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct-info {
  padding-left: 20px;
  margin-bottom: 20px;
}
.checkoutProduct-info > button {
  margin-top: 10px;
  background-color: black;
  color: white;
  border: none;
  padding: 3px 0;
  cursor: pointer;
  padding: 2px 13px;
}
.checkoutProduct-rating {
  display: flex;
}
.checkoutProduct-title {
  font-size: 17px;
  font-weight: 800;
}
.checkoutProduct-price {
  color: #5b17aa;
}
